server:
  port: 9001

spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/chatapp
    username: chatappuser
    password: 
    driverClassName: org.postgresql.Driver
  devtools:
    restart:
      exclude: static/**
  web:
    resources:
      static-locations[0]: file:src/main/resources/static/
      static-locations[1]: classpath:/static/

